<header class="main-header">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <a class="logo" routerLink="/" routerLinkActive="active">
          <img src="../../assets/images/logo.png" alt="logo">
          <span>Money Love</span>
        </a>
      </div>
      <div class="col-md-9">
        <nav class="navbar-right">
          <ul class="navs">
            <li class="nav active">
              <a class="nav-link" routerLink="/login">Login</a>
            </li>
            <li class="nav">
              <a class="nav-link" routerLink="/register">Register</a>
            </li>
            <li class="nav">
              <a class="nav-link disabled" routerLink="/logout">Logout</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
