<footer class="footer">
  <div class="info-ft">
    <div class="container">
      <div class="ft-row clearfix">
        <div class="list-item-ft">
          <div class="title-ft">
            <h3 class="text-green">Contact us</h3>
          </div>
          <ul class="list-link">
            <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Policy</a></li>
            <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Introduct</a></li>
            <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Policy</a></li>
            <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Policy</a></li>
            <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Introduct</a></li>
          </ul>
        </div>
        <div class="list-item-ft">
          <div class="title-ft">
            <h3 class="text-green">About us</h3>
          </div>
          <ul class="list-link">
            <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Policy</a></li>
            <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Introduct</a></li>
            <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Policy</a></li>
            <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Policy</a></li>
            <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Introduct</a></li>
          </ul>
        </div>
        <div class="list-item-ft">
          <div class="title-ft">
            <h3 class="text-green">Support </h3>
          </div>
          <ul class="list-link">
            <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Policy</a></li>
            <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Introduct</a></li>
            <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Policy</a></li>
            <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Policy</a></li>
            <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Introduct</a></li>
          </ul>
        </div>
        <div class="list-item-ft">
          <h3 class="text-green">Social</h3>
          <div class="list-social">
            <ul class="list-inline gr-list-social">
              <li>
                <a href="#" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-google" aria-hidden="true"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="bt1"></div>
    <div class="footer-bottom">
      <div class="container">
        <div class="text-right ft-left row">
          <p class="text-center">Copyright © 2017 <span class="text-oranges">MoneyLove.com</span>. All Rights
            Reserved</p>
        </div>
      </div>
    </div>
  </div>
</footer>
